POSTGRES_USER=myuser
POSTGRES_PASSWORD=change_me
POSTGRES_DB=mydb

REDIS_URL=redis://redis:6379/0
REDIS_STREAM_NAME=logs
REDIS_CONSUMER_GROUP=log-workers
REDIS_CONSUMER_NAME=worker-1

SEED_TOTAL=5000000
SEED_BATCH_SIZE=5000

WORKER_BATCH_SIZE=1000
WORKER_FLUSH_INTERVAL_MS=500

RETENTION_DAYS=7
RETENTION_INTERVAL_SECONDS=3600

PARTITIONS_AHEAD=1
PARTITION_CREATION_INTERVAL_SECONDS=86400
